@model IEnumerable<ESSPCORE.EF.LeavePolicy>
@{
    ViewBag.Title = "Leave Policies - List (Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header ">

    <div class="page-header-content">
        <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Leave Policy</span></h4>
    </div>
</div>
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-grey">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        <li><a href="index.html"> Dashboard</a></li>
                        <li class="active"> Leave Policy</li>
                    </ul>
                    <ul class="breadcrumb-elements bg-blue-800  btn-custom" style="margin-right:-20px">
                     <li><a id="btnGetCreate" class="text-bold "><i class="icon-add position-left"></i> Add Leave Policy</a></li>   
                    </ul>
                </div>

                <table class="table datatable-basic ">
                    <thead>
                        <tr>
                            <th class="text-bold">
                                Leave Policy Name
                            </th>
                            <th class="text-bold">
                                Update Balance
                            </th>
                            <th class="text-bold">
                                Enable
                            </th>
                            <th class="text-bold">
                                Pro Rata
                            </th>
                            <th class="text-bold">
                                Carry Forward
                            </th>
                            <th class="text-bold">
                                Leave Type
                            </th>
                            <th class="text-bold">
                                Edit/Delete
                            </th>
                        </tr>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeavePolicyName)
                                </td>
                                <td>
                                    @if (item.UpdateBalance == true)
                                    {<div>Yes</div>}
                                    else
                                    {<div>No</div>}
                                </td>
                                <td>
                                    @if (item.Enable == true)
                                    {<div>Yes</div>}
                                    else
                                    {<div>No</div>}
                                </td>
                                <td>
                                    @if (item.ProRata == true)
                                    {<div>Yes</div>}
                                    else
                                    {<div>No</div>}
                                </td>
                                <td>
                                    @if (item.CF == true)
                                    {<div>Yes</div>}
                                    else
                                    {<div>No</div>}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeaveType.LeaveTypeName)
                                </td>
                                <td>
                                    <button type="button" id="btnGetEdit" onclick="LeavePolicyGetEdit(@item.PLeavePolicyID)" class="btn border-blue-800 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                                    <button type="button" id="btnGetDelete" onclick="LeavePolicyGetDelete(@item.PLeavePolicyID)" class="btn border-warning text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modelBody">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Areas/Attendance/Scripts/LeavePolicy.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LeavePolicyGetCreate();
    });
</script>