
@model ESSPCORE.EF.AppUser
@{
    ViewBag.Title = "Forgot Password -(MASH:ESSP)";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MASH - ESSP</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container">

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Simple login form -->
                <form action="~/Home/ChangePassword" enctype="multipart/form-data" method="post">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <img src="~/Theme/assets/images/bcl_logo_final.png" style="width:90%;margin-left:12px" class="center" />
                            <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="New Password">
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                        </div>
                        <span id="message"></span>
                        <button type="submit" class="btn bg-blue btn-block">Save Password <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-center">
        <span class="text-indigo-800 text-bold"><strong>&copy; 2018. </strong></span><a href="#" class="text-indigo-800 text-black">Employee Self Service Portal</a><span class="text-indigo-800 text-bold"><strong class="text-indigo-800"> by </strong></span><a href="http://www.bestway.com.pk/" target="_blank" class="text-indigo-800 text-black">Bestway Cement Limited-IT Department</a>
    </div>
    <!-- /footer -->
    <script>
        $('#Password, #ConfirmPassword').on('keyup', function () {
            if ($('#Password').val() == $('#ConfirmPassword').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
</body>
</html>
