
@model ESSPCORE.EF.VHR_AppUser
@{
    ViewBag.Title = "Forgot Password -(Bestway:ESSP)";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bestway - HRMS</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <style>
        .login-form {
            background-color: transparent;
        }
    </style>

</head>

<body class="login-container login-cover login-form">

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container ">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                @Html.ValidationSummary(true)
                <!-- Simple login form -->
                <form action="~/Home/ForgetPassword" enctype="multipart/form-data" method="post">

                    <div class="col-md-3 " style="margin-left:485px">
                        <div class="panel panel-body login-form">
                            <img src="~/Theme/assets/images/bcl_logo_final.png" class="center-block" height="65" />
                            <h4 class="content-group text-blue-800 text-center text-black"><strong>Employee Self Service Portal</strong> </h4>
                            <h4 class="content-group text-semibold text-center">Password recovery <small class="display-block text-white ">We'll send you instructions in email</small></h4>



                            <div class="form-group has-feedback">
                                <input type="email" id="OfficialEmailID" name="OfficialEmailID" class="form-control" placeholder="Official Email Address">
                                @Html.ValidationMessageFor(model => model.OfficialEmailID, "", new { @class = "text-danger" })

                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block text-semibold bg-blue-800">Send <i class="glyphicon glyphicon-send position-right"></i></button>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-center">
        <span class="text-indigo-800 text-bold"><strong>&copy; 2018. </strong></span><a href="#" class="text-white text-black">Employee Self Service Portal</a><span class="text-white text-bold"><strong class="text-indigo-800"> by </strong></span><a href="http://www.bestway.com.pk/" target="_blank" class="text-white text-black">Bestway Cement Limited-IT Department</a>
    </div>
    <!-- /footer -->

</body>
</html>
