@model ESSPCORE.EF.EmployeeOther
@Html.HiddenFor(model => model.PEmployeeID)


<div class="modal-header bg-blue">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        <i class="icon-menu7"></i> &nbsp; Delete
    </h4>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formDeleteID", id = "formDeleteID" }))
{
    <div class="modal-body">

        <div class="form-horizontal">

            <div class="form-group text-center">
                <h3>Are you sure you want to Delete this employee?</h3>
            </div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PEmployeeID)
        </div>
    </div>
    <div class="modal-footer">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary bg-primary-300" })
        <input type="button" id="btnPostDelete" class="btn btn-danger bg-danger-800" value="Delete" />
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        EmployeeOtherPostDelete();
    });
</script>

