@{
    ViewBag.Title = "LeaveCarryForward - Step 1 (Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ESSPCORE.Attendance.VMLeaveCFSelection
@using (Html.BeginForm("Create1", "LeaveCF", FormMethod.Post))
{
    <div class="page-header "z>

        <div class="page-header-content">
            <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Leave Carry Forward</span> - Add New</h4>
        </div>
    </div>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="breadcrumb-line bg-green-600">
                        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <ul class="breadcrumb">
                            <li><a href="~/Home/Index"> Dashboard</a></li>
                            <li class="active"> Leave Carry Forward - Add New</li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <article class="col-md-12">
                            <div class="">
                                <fieldset> @*loadpartial view for Common step 1*@
                                    <div id="DivStepOne">@Html.Action("StepOne", "EmpSelection", new { @area = "Common" })</div>
                                    <section class="col-md-4">
                                        <div class="panel-body bg-blue border-radius-top" style="height:50px">
                                            <h6 id="Divheader2" style="margin-top:-5px" class="text-semibold">
                                                3. Enter Details
                                            </h6>
                                        </div>
                                        <section class="col-md-12">
                                            <br /><br />
                                            <section class="row">
                                                <div class="form-group col-md-8">
                                                    <label class="text-semibold">Financial Year</label>
                                                    <div>@Html.DropDownList("FinancialYearID", null, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })</div>
                                                </div>
                                            </section>
                                        </section>
                                    </section>
                                </fieldset>
                            </div>
                        </article>
                    </div>
                    <div class="panel-footer">
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        <div class="heading-elements">
                            <button type="submit" class="btn btn-success heading-btn pull-right">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Modal -->
    <script type="text/javascript" src="~/Areas/Attendance/Scripts/LeaveCF.js"></script>
    <script>

        $(document).ready(function () {
            
        });
    </script>
}
